.output
{
    display: block;

    .generated
    {
        padding: 0 20px 0 20px;
        background-color: beige;
    }

    .rendered
    {
        padding: 0 20px 0 20px;
        background-color:cadetblue;
    }
}