.output
{
    margin: 20px;
    padding: 20px;
    display: inline-flex;
    border: 2px solid black;
    border-radius: 5px;
    width: -webkit-fill-available;

    .generated, .rendered
    {
        padding: 0 20px 0 20px;
        width: 50%;
        
        label
        {
            align-items: center;
        }

        p {
            display: flex;    
        }
    }
}